/* App.module.css */

.appContainer {
  width: 100%;
  height: 100vh;
  color: #000000;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: center;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;

}

.text {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 10px;
  color: #02203c;
}

.note {
  font-size: 18px;
  font-weight: 200;
  margin-bottom: 40px;
  color: #7c8e9a;
}

/* App.module.css */

/* Agrega esta clase para detener la animación */
.stop {
  animation: none; /* Detiene la animación */
}


.marquee {
  display: flex;
  width: 1200px;
  overflow: hidden;
  user-select: none;
  gap: 30px;
  height: 100%;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 1) 90%,
    rgba(0, 0, 0, 0) 100%
  );
}

.marqueeGroup {
  flex-shrink: 0;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  white-space: nowrap;
  gap: 30px;
  width: 100%;
  animation: scrollX 30s linear infinite;
}

.marqueeGroupReverse {
  animation-direction: reverse;
  animation-delay: -3s;
}

.imageGroup {
  display: grid;
  place-items: center;
  border-radius: 30px;
}

.image {
  object-fit: cover; /* Cambiar a 'cover' para que llene el contenedor */
  width: 250px; /* Ajustar el ancho de las imágenes */
  height: 250px; /* Ajustar la altura de las imágenes */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para profundidad */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves */
  margin: 0 10px; /* Espaciado entre imágenes */

}

/* Efecto al pasar el mouse */
.image:hover {
  transform: scale(1.05); /* Aumenta ligeramente al pasar el mouse */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); /* Aumenta la sombra al pasar el mouse */
}

/* Animación de desplazamiento */
@keyframes scrollX {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
